/* Importe Bootstrap */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "./template/css/lineicons.css";
@import "./template/css/main.css";

/* Seus estilos personalizados */
body {
    font-family: 'Segoe UI', sans-serif;
}

.custom-class {
    /* seus estilos */
}
